openapi: 3.1.0
info:
  title: QuckApp API
  description: |
    QuckApp is an enterprise communication platform providing real-time messaging,
    voice/video calls, file sharing, and team collaboration features.

    ## Authentication
    Most endpoints require authentication using JWT Bearer tokens.
    Obtain tokens via the `/auth/login` or `/auth/oauth` endpoints.

    ## Rate Limiting
    API requests are rate-limited per user/IP:
    - Standard endpoints: 1000 requests/minute
    - Auth endpoints: 20 requests/minute
    - Upload endpoints: 100 requests/minute

    ## Pagination
    List endpoints support cursor-based pagination using `cursor` and `limit` parameters.
    Some endpoints also support page-based pagination with `page` and `limit`.

    ## WebSocket
    Real-time features are available via WebSocket at `wss://ws.quckapp.io`

    ## Error Handling
    All errors return a consistent JSON structure with `error.code`, `error.message`,
    and optional `error.details` array for validation errors.
  version: 1.0.0
  contact:
    name: QuckApp API Support
    email: api-support@quckapp.io
    url: https://docs.quckapp.io
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  x-logo:
    url: https://quckapp.io/logo.png
servers:
  - url: https://api.quckapp.io/v1
    description: Production server
  - url: https://api.staging.quckapp.io/v1
    description: Staging server
  - url: http://localhost:3000/v1
    description: Local development
security:
  - BearerAuth: []
tags:
  - name: Authentication
    description: User authentication and authorization
  - name: Token
    description: JWT token management - refresh, validate, revoke
  - name: Password
    description: Password management - forgot, reset, change
  - name: MFA
    description: Multi-factor authentication (2FA/TOTP)
  - name: OAuth2
    description: OAuth2 social login providers
  - name: Sessions
    description: Session management
  - name: Phone OTP
    description: Phone-based OTP authentication
  - name: Users
    description: User management and CRUD operations
  - name: Profile
    description: Extended user profile management
  - name: Preferences
    description: User preferences - notifications, theme, privacy
  - name: Batch
    description: Batch operations for multiple users
  - name: Admin
    description: Administrative operations - suspend, deactivate
  - name: Bookmarks
    description: User bookmarks
  - name: Workspaces
    description: Workspace management
  - name: Members
    description: Workspace and channel membership
  - name: Invites
    description: Workspace invitations
  - name: Channels
    description: Channel management within workspaces
  - name: Direct Messages
    description: Direct and group messages
  - name: Messages
    description: Messaging operations
  - name: Reactions
    description: Message reactions
  - name: Threads
    description: Thread discussions
  - name: Calls
    description: Voice and video calls
  - name: Huddles
    description: Quick audio huddles
  - name: Files
    description: File uploads and management
  - name: Search
    description: Search across messages, files, and users
  - name: Notifications
    description: Notification management
  - name: Presence
    description: User presence and status
paths:
  /auth/v1/register:
    post:
      tags:
        - Authentication
      summary: Register new user
      description: |
        Create a new user account with email and password.
        Rate limited to 5 requests per hour per IP.
      operationId: register
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
      responses:
        '200':
          description: Registration successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '400':
          description: Invalid input or password requirements not met
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '409':
          description: Email already registered
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too many registration attempts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /auth/v1/login:
    post:
      tags:
        - Authentication
      summary: Login with email/password
      description: |
        Authenticate user with email and password.
        Rate limited: 5 attempts per 5 minutes, 15-minute block after exceeded.
      operationId: login
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Login successful or 2FA required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '401':
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '423':
          description: Account locked due to too many failed attempts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too many login attempts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /auth/v1/login/2fa:
    post:
      tags:
        - Authentication
        - MFA
      summary: Complete login with 2FA code
      description: |
        Complete login by providing 2FA code after initial login returned requiresTwoFactor=true.
        Rate limited: 5 attempts per 5 minutes per IP.
      operationId: loginWith2FA
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TwoFactorLoginRequest'
      responses:
        '200':
          description: 2FA verification successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '401':
          description: Invalid 2FA code or token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too many 2FA attempts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /auth/v1/logout:
    post:
      tags:
        - Authentication
      summary: Logout and revoke tokens
      description: Invalidate current session tokens
      operationId: logout
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Logout successful
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /auth/v1/token/refresh:
    post:
      tags:
        - Authentication
        - Token
      summary: Refresh access token
      description: |
        Exchange refresh token for new access token.
        Rate limited: 30 requests per minute per IP.
        Refresh tokens are rotated on each use.
      operationId: refreshToken
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshTokenRequest'
      responses:
        '200':
          description: Token refreshed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
        '401':
          description: Invalid or expired refresh token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /auth/v1/token/validate:
    post:
      tags:
        - Authentication
        - Token
      summary: Validate JWT token
      description: |
        Validate a JWT token and return user information.
        Rate limited: 100 requests per minute per IP.
      operationId: validateToken
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TokenValidationRequest'
      responses:
        '200':
          description: Token validation result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenValidationResponse'
  /auth/v1/token/revoke:
    post:
      tags:
        - Authentication
        - Token
      summary: Revoke a specific token
      description: |
        Revoke a specific token.
        Rate limited: 10 requests per minute per user.
      operationId: revokeToken
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RevokeTokenRequest'
      responses:
        '200':
          description: Token revoked
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /auth/v1/token/revoke-all:
    post:
      tags:
        - Authentication
        - Token
      summary: Revoke all tokens for current user
      description: |
        Revoke all tokens for the authenticated user (except the current token).
        Rate limited: 5 requests per 5 minutes per user.
      operationId: revokeAllTokens
      security:
        - BearerAuth: []
      responses:
        '200':
          description: All tokens revoked
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /auth/v1/password/forgot:
    post:
      tags:
        - Authentication
        - Password
      summary: Request password reset
      description: |
        Send password reset link to email.
        Rate limited: 3 requests per hour per IP.
        Always returns success to prevent email enumeration.
      operationId: forgotPassword
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ForgotPasswordRequest'
      responses:
        '200':
          description: Reset email sent if account exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
        '429':
          description: Too many reset requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /auth/v1/password/reset:
    post:
      tags:
        - Authentication
        - Password
      summary: Reset password with token
      description: |
        Set new password using reset token from email.
        Rate limited: 5 requests per hour per IP.
      operationId: resetPassword
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResetPasswordRequest'
      responses:
        '200':
          description: Password reset successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
        '400':
          description: Invalid or expired token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /auth/v1/password/change:
    post:
      tags:
        - Authentication
        - Password
      summary: Change password (authenticated)
      description: |
        Change password for authenticated user.
        Rate limited: 5 requests per hour per user.
      operationId: changePassword
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangePasswordRequest'
      responses:
        '200':
          description: Password changed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
        '400':
          description: Password requirements not met
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '401':
          description: Current password incorrect
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /auth/v1/2fa/setup:
    post:
      tags:
        - Authentication
        - MFA
      summary: Setup 2FA - get QR code
      description: |
        Initialize 2FA setup and return TOTP secret with QR code.
        Rate limited: 10 requests per hour per user.
      operationId: setup2FA
      security:
        - BearerAuth: []
      responses:
        '200':
          description: 2FA setup initiated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TwoFactorSetupResponse'
        '400':
          description: 2FA already enabled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /auth/v1/2fa/enable:
    post:
      tags:
        - Authentication
        - MFA
      summary: Enable 2FA after verification
      description: |
        Verify TOTP code to complete 2FA setup.
        Returns backup codes on success.
        Rate limited: 5 requests per 5 minutes per user.
      operationId: enable2FA
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TwoFactorEnableRequest'
      responses:
        '200':
          description: 2FA enabled successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TwoFactorEnableResponse'
        '401':
          description: Invalid 2FA code
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /auth/v1/2fa/disable:
    post:
      tags:
        - Authentication
        - MFA
      summary: Disable 2FA
      description: |
        Disable 2FA for current user (requires 2FA code and password).
        Rate limited: 3 requests per hour per user.
      operationId: disable2FA
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TwoFactorDisableRequest'
      responses:
        '200':
          description: 2FA disabled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
        '401':
          description: Invalid password or 2FA code
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /auth/v1/2fa/backup-codes:
    post:
      tags:
        - Authentication
        - MFA
      summary: Generate new backup codes
      description: |
        Generate new backup codes (invalidates previous codes).
        Rate limited: 3 requests per hour per user.
      operationId: generateBackupCodes
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TwoFactorVerifyRequest'
      responses:
        '200':
          description: New backup codes generated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackupCodesResponse'
        '401':
          description: Invalid 2FA code
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /auth/v1/oauth/{provider}:
    post:
      tags:
        - Authentication
        - OAuth2
      summary: Login/register with OAuth provider
      description: |
        Authenticate using OAuth provider (google, facebook, github, apple).
        Creates account if user doesn't exist.
        Rate limited: 10 requests per minute per IP.
      operationId: oauthLogin
      security: []
      parameters:
        - name: provider
          in: path
          required: true
          schema:
            type: string
            enum:
              - google
              - facebook
              - github
              - apple
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OAuthRequest'
      responses:
        '200':
          description: OAuth authentication successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '400':
          description: Invalid OAuth code or configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /auth/v1/oauth/{provider}/link:
    post:
      tags:
        - Authentication
        - OAuth2
      summary: Link OAuth provider to existing account
      description: |
        Link an OAuth provider to the current user's account.
        Rate limited: 5 requests per hour per user.
      operationId: linkOAuthProvider
      security:
        - BearerAuth: []
      parameters:
        - name: provider
          in: path
          required: true
          schema:
            type: string
            enum:
              - google
              - facebook
              - github
              - apple
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OAuthRequest'
      responses:
        '200':
          description: Provider linked successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
        '400':
          description: Provider already linked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /auth/v1/oauth/{provider}/unlink:
    delete:
      tags:
        - Authentication
        - OAuth2
      summary: Unlink OAuth provider from account
      description: |
        Unlink an OAuth provider from the current user's account.
        Cannot unlink the last authentication method.
        Rate limited: 5 requests per hour per user.
      operationId: unlinkOAuthProvider
      security:
        - BearerAuth: []
      parameters:
        - name: provider
          in: path
          required: true
          schema:
            type: string
            enum:
              - google
              - facebook
              - github
              - apple
      responses:
        '200':
          description: Provider unlinked successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
        '400':
          description: Cannot unlink last authentication method
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /auth/v1/oauth2/providers:
    get:
      tags:
        - OAuth2
      summary: Get available OAuth2 providers
      description: Get list of available OAuth2 providers with their authorization URLs
      operationId: getOAuth2Providers
      security: []
      responses:
        '200':
          description: List of available providers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuth2ProvidersResponse'
  /auth/v1/oauth2/linked:
    get:
      tags:
        - OAuth2
      summary: Get linked OAuth2 providers for current user
      description: Get list of OAuth2 providers linked to the current user's account
      operationId: getLinkedProviders
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Linked providers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinkedProvidersResponse'
  /auth/v1/oauth2/authorize/{provider}:
    get:
      tags:
        - OAuth2
      summary: Get authorization URL for OAuth2 provider
      description: Get the authorization URL for a specific OAuth2 provider
      operationId: getAuthorizationUrl
      security: []
      parameters:
        - name: provider
          in: path
          required: true
          schema:
            type: string
            enum:
              - google
              - facebook
              - github
              - apple
        - name: redirectUri
          in: query
          required: false
          schema:
            type: string
            format: uri
      responses:
        '200':
          description: Authorization URL
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorizationUrlResponse'
  /auth/v1/sessions:
    get:
      tags:
        - Authentication
        - Sessions
      summary: Get active sessions
      description: |
        Get all active sessions for current user.
        Rate limited: 30 requests per minute per user.
      operationId: getSessions
      security:
        - BearerAuth: []
      responses:
        '200':
          description: List of active sessions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionsResponse'
  /auth/v1/sessions/{sessionId}:
    delete:
      tags:
        - Authentication
        - Sessions
      summary: Terminate specific session
      description: |
        Terminate a specific session by ID.
        Rate limited: 10 requests per minute per user.
      operationId: terminateSession
      security:
        - BearerAuth: []
      parameters:
        - name: sessionId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Session terminated
        '404':
          description: Session not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /auth/v1/sessions/all:
    delete:
      tags:
        - Authentication
        - Sessions
      summary: Terminate all other sessions
      description: |
        Terminate all sessions except current.
        Rate limited: 5 requests per 5 minutes per user.
      operationId: terminateAllSessions
      security:
        - BearerAuth: []
      responses:
        '200':
          description: All other sessions terminated
  /auth/v1/auth/phone/request-otp:
    post:
      tags:
        - Authentication
        - Phone OTP
      summary: Request OTP
      description: |
        Request a one-time password sent via SMS.
        Rate limits: 5 per day per phone, 10 per hour per IP.
      operationId: requestPhoneOtp
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PhoneOtpRequest'
      responses:
        '200':
          description: OTP sent successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OtpResponse'
        '400':
          description: Invalid phone number or rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OtpResponse'
  /auth/v1/auth/phone/verify-otp:
    post:
      tags:
        - Authentication
        - Phone OTP
      summary: Verify OTP
      description: Verify the OTP code without logging in
      operationId: verifyPhoneOtp
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PhoneVerifyRequest'
      responses:
        '200':
          description: OTP verified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OtpResponse'
        '400':
          description: Invalid or expired OTP
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OtpResponse'
  /auth/v1/auth/phone/login:
    post:
      tags:
        - Authentication
        - Phone OTP
      summary: Login with OTP
      description: |
        Verify OTP and login. Creates account if phone number is new.
      operationId: phoneLogin
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PhoneLoginRequest'
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OtpResponse'
        '400':
          description: Invalid OTP
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OtpResponse'
  /auth/v1/auth/phone/resend-otp:
    post:
      tags:
        - Authentication
        - Phone OTP
      summary: Resend OTP
      description: |
        Resend OTP to the same phone number.
        Cooldown: 60 seconds between resends.
      operationId: resendPhoneOtp
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PhoneOtpRequest'
      responses:
        '200':
          description: OTP resent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OtpResponse'
        '400':
          description: Cooldown not elapsed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OtpResponse'
  /users:
    post:
      tags:
        - Users
      summary: Create a new user
      description: |
        Create a new user in the system. This endpoint is typically called
        by the auth-service after successful registration.
      operationId: createUser
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUserRequest'
      responses:
        '201':
          description: User created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        '400':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '409':
          description: Email or username already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /users/{id}:
    get:
      tags:
        - Users
      summary: Get user by ID
      description: Get a user's data by their unique identifier
      operationId: getUserById
      security:
        - ApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: User data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        '404':
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      tags:
        - Users
      summary: Update user
      description: Update user's basic information
      operationId: updateUser
      security:
        - ApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserRequest'
      responses:
        '200':
          description: User updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        '400':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '404':
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
        - Users
      summary: Deactivate user
      description: Soft-delete a user by setting their status to DEACTIVATED
      operationId: deactivateUser
      security:
        - ApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: User deactivated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        '404':
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /users/email/{email}:
    get:
      tags:
        - Users
        - Search
      summary: Get user by email
      description: Get a user's data by their email address
      operationId: getUserByEmail
      security:
        - ApiKeyAuth: []
      parameters:
        - name: email
          in: path
          required: true
          schema:
            type: string
            format: email
      responses:
        '200':
          description: User data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        '404':
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /users/username/{username}:
    get:
      tags:
        - Users
        - Search
      summary: Get user by username
      description: Get a user's data by their username
      operationId: getUserByUsername
      security:
        - ApiKeyAuth: []
      parameters:
        - name: username
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: User data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        '404':
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /users/{id}/suspend:
    post:
      tags:
        - Users
        - Admin
      summary: Suspend user
      description: Suspend a user account. Suspended users cannot access the system until reactivated.
      operationId: suspendUser
      security:
        - ApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: User suspended
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        '404':
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /users/search:
    get:
      tags:
        - Users
        - Search
      summary: Search users
      description: Search for users by query string with optional filtering and pagination
      operationId: searchUsers
      security:
        - ApiKeyAuth: []
      parameters:
        - name: query
          in: query
          required: true
          description: Search query (min 2 characters)
          schema:
            type: string
            minLength: 2
            maxLength: 100
        - name: status
          in: query
          required: false
          description: Filter by user status
          schema:
            type: string
            enum:
              - ACTIVE
              - INACTIVE
              - SUSPENDED
              - DEACTIVATED
        - name: page
          in: query
          required: false
          description: Page number (0-indexed)
          schema:
            type: integer
            minimum: 0
            default: 0
        - name: size
          in: query
          required: false
          description: Page size
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
      responses:
        '200':
          description: Search results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedApiResponse'
  /users/batch:
    post:
      tags:
        - Users
        - Batch
      summary: Get users by IDs
      description: |
        Retrieve multiple users by their IDs in a single request.
        Useful for populating user data in lists.
        Users not found will be silently omitted from the response.
      operationId: getUsersByIds
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
                format: uuid
              maxItems: 100
      responses:
        '200':
          description: List of users
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchApiResponse'
  /users/{id}/profile:
    get:
      tags:
        - Users
        - Profile
      summary: Get user profile
      description: Retrieve extended profile information for a user
      operationId: getProfile
      security:
        - ApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: User profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileApiResponse'
        '404':
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      tags:
        - Users
        - Profile
      summary: Update user profile
      description: Update profile fields. Only provided fields will be updated.
      operationId: updateProfile
      security:
        - ApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProfileRequest'
      responses:
        '200':
          description: Profile updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileApiResponse'
        '400':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '404':
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /users/{id}/preferences:
    get:
      tags:
        - Users
        - Preferences
      summary: Get user preferences
      description: Retrieve user notification, display, and privacy preferences
      operationId: getPreferences
      security:
        - ApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: User preferences
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreferencesApiResponse'
        '404':
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      tags:
        - Users
        - Preferences
      summary: Update user preferences
      description: Update preference fields. Only provided fields will be updated.
      operationId: updatePreferences
      security:
        - ApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePreferencesRequest'
      responses:
        '200':
          description: Preferences updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreferencesApiResponse'
        '400':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '404':
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /workspaces:
    get:
      tags:
        - Workspaces
      summary: List user's workspaces
      description: Get all workspaces the current user is a member of
      operationId: listWorkspaces
      security:
        - BearerAuth: []
      responses:
        '200':
          description: List of workspaces
          content:
            application/json:
              schema:
                type: object
                properties:
                  workspaces:
                    type: array
                    items:
                      $ref: '#/components/schemas/Workspace'
    post:
      tags:
        - Workspaces
      summary: Create workspace
      description: Create a new workspace
      operationId: createWorkspace
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceCreateRequest'
      responses:
        '201':
          description: Workspace created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workspace'
        '400':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '409':
          description: Slug already taken
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /workspaces/{workspaceId}:
    get:
      tags:
        - Workspaces
      summary: Get workspace
      description: Get workspace details by ID
      operationId: getWorkspace
      security:
        - BearerAuth: []
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Workspace details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workspace'
        '403':
          description: Not a member of workspace
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Workspace not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      tags:
        - Workspaces
      summary: Update workspace
      description: Update workspace details (admin only)
      operationId: updateWorkspace
      security:
        - BearerAuth: []
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceUpdateRequest'
      responses:
        '200':
          description: Workspace updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workspace'
        '403':
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
        - Workspaces
      summary: Delete workspace
      description: Delete workspace (owner only)
      operationId: deleteWorkspace
      security:
        - BearerAuth: []
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - confirmation
              properties:
                confirmation:
                  type: string
                  description: Workspace name for confirmation
      responses:
        '204':
          description: Workspace deleted
        '403':
          description: Not the workspace owner
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /workspaces/slug/{slug}:
    get:
      tags:
        - Workspaces
      summary: Get workspace by slug
      description: Get workspace details by URL slug
      operationId: getWorkspaceBySlug
      security:
        - BearerAuth: []
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Workspace details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workspace'
        '404':
          description: Workspace not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /workspaces/{workspaceId}/members:
    get:
      tags:
        - Workspaces
        - Members
      summary: List workspace members
      description: Get all members of a workspace
      operationId: listWorkspaceMembers
      security:
        - BearerAuth: []
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: role
          in: query
          schema:
            type: string
            enum:
              - member
              - admin
              - owner
              - guest
        - name: search
          in: query
          schema:
            type: string
          description: Search by name or email
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: List of members
          content:
            application/json:
              schema:
                type: object
                properties:
                  members:
                    type: array
                    items:
                      $ref: '#/components/schemas/WorkspaceMember'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
  /workspaces/{workspaceId}/members/{userId}:
    get:
      tags:
        - Workspaces
        - Members
      summary: Get workspace member
      description: Get details of a specific workspace member
      operationId: getWorkspaceMember
      security:
        - BearerAuth: []
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: userId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Member details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceMember'
        '404':
          description: Member not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      tags:
        - Workspaces
        - Members
      summary: Update member role
      description: Update a member's role in the workspace (admin only)
      operationId: updateWorkspaceMember
      security:
        - BearerAuth: []
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: userId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                role:
                  type: string
                  enum:
                    - member
                    - admin
                    - guest
                title:
                  type: string
      responses:
        '200':
          description: Member updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceMember'
        '403':
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
        - Workspaces
        - Members
      summary: Remove member
      description: Remove a member from the workspace (admin only)
      operationId: removeWorkspaceMember
      security:
        - BearerAuth: []
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: userId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Member removed
        '403':
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /workspaces/{workspaceId}/leave:
    post:
      tags:
        - Workspaces
      summary: Leave workspace
      description: Leave the workspace (cannot be owner)
      operationId: leaveWorkspace
      security:
        - BearerAuth: []
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Left workspace
        '400':
          description: Cannot leave (owner must transfer ownership first)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /workspaces/{workspaceId}/invites:
    get:
      tags:
        - Workspaces
        - Invites
      summary: List pending invites
      description: Get all pending invites for a workspace (admin only)
      operationId: listWorkspaceInvites
      security:
        - BearerAuth: []
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: status
          in: query
          schema:
            type: string
            enum:
              - pending
              - accepted
              - expired
              - revoked
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: List of invites
          content:
            application/json:
              schema:
                type: object
                properties:
                  invites:
                    type: array
                    items:
                      $ref: '#/components/schemas/WorkspaceInvite'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
    post:
      tags:
        - Workspaces
        - Invites
      summary: Invite members
      description: Send workspace invitations by email (admin only)
      operationId: inviteMembers
      security:
        - BearerAuth: []
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InviteMembersRequest'
      responses:
        '200':
          description: Invites sent
          content:
            application/json:
              schema:
                type: object
                properties:
                  sent:
                    type: integer
                  failed:
                    type: array
                    items:
                      type: object
                      properties:
                        email:
                          type: string
                        reason:
                          type: string
  /workspaces/{workspaceId}/invites/{inviteId}:
    delete:
      tags:
        - Workspaces
        - Invites
      summary: Revoke invite
      description: Revoke a pending invite
      operationId: revokeInvite
      security:
        - BearerAuth: []
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: inviteId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Invite revoked
        '404':
          description: Invite not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /workspaces/invites/{inviteCode}/accept:
    post:
      tags:
        - Workspaces
        - Invites
      summary: Accept invite
      description: Accept a workspace invitation
      operationId: acceptInvite
      security:
        - BearerAuth: []
      parameters:
        - name: inviteCode
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Invite accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workspace'
        '400':
          description: Invalid or expired invite
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Already a member
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /workspaces/{workspaceId}/stats:
    get:
      tags:
        - Workspaces
      summary: Get workspace stats
      description: Get workspace statistics
      operationId: getWorkspaceStats
      security:
        - BearerAuth: []
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Workspace statistics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceStats'
  /workspaces/{workspaceId}/icon:
    put:
      tags:
        - Workspaces
      summary: Upload workspace icon
      description: Upload a new workspace icon (admin only)
      operationId: uploadWorkspaceIcon
      security:
        - BearerAuth: []
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - icon
              properties:
                icon:
                  type: string
                  format: binary
      responses:
        '200':
          description: Icon uploaded
          content:
            application/json:
              schema:
                type: object
                properties:
                  iconUrl:
                    type: string
                    format: uri
    delete:
      tags:
        - Workspaces
      summary: Remove workspace icon
      description: Remove workspace icon (admin only)
      operationId: removeWorkspaceIcon
      security:
        - BearerAuth: []
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Icon removed
  /workspaces/{workspaceId}/channels:
    get:
      tags:
        - Channels
      summary: List channels
      description: Get all channels in a workspace that the user can access
      operationId: listChannels
      security:
        - BearerAuth: []
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: type
          in: query
          schema:
            type: string
            enum:
              - public
              - private
              - dm
              - group_dm
        - name: joined
          in: query
          schema:
            type: boolean
          description: Filter to joined channels only
        - name: search
          in: query
          schema:
            type: string
          description: Search by channel name
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: List of channels
          content:
            application/json:
              schema:
                type: object
                properties:
                  channels:
                    type: array
                    items:
                      $ref: '#/components/schemas/Channel'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
    post:
      tags:
        - Channels
      summary: Create channel
      description: Create a new channel in the workspace
      operationId: createChannel
      security:
        - BearerAuth: []
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChannelCreateRequest'
      responses:
        '201':
          description: Channel created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Channel'
        '400':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '409':
          description: Channel name already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /workspaces/{workspaceId}/channels/{channelId}:
    get:
      tags:
        - Channels
      summary: Get channel
      description: Get channel details by ID
      operationId: getChannel
      security:
        - BearerAuth: []
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: channelId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Channel details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Channel'
        '403':
          description: Not a member of private channel
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Channel not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      tags:
        - Channels
      summary: Update channel
      description: Update channel details (admin only for settings)
      operationId: updateChannel
      security:
        - BearerAuth: []
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: channelId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChannelUpdateRequest'
      responses:
        '200':
          description: Channel updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Channel'
        '403':
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
        - Channels
      summary: Delete channel
      description: Delete a channel (admin only, cannot delete default channel)
      operationId: deleteChannel
      security:
        - BearerAuth: []
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: channelId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Channel deleted
        '400':
          description: Cannot delete default channel
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /workspaces/{workspaceId}/channels/{channelId}/members:
    get:
      tags:
        - Channels
        - Members
      summary: List channel members
      description: Get all members of a channel
      operationId: listChannelMembers
      security:
        - BearerAuth: []
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: channelId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: List of channel members
          content:
            application/json:
              schema:
                type: object
                properties:
                  members:
                    type: array
                    items:
                      $ref: '#/components/schemas/ChannelMember'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
    post:
      tags:
        - Channels
        - Members
      summary: Add members
      description: Add members to a channel
      operationId: addChannelMembers
      security:
        - BearerAuth: []
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: channelId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddMembersRequest'
      responses:
        '200':
          description: Members added
          content:
            application/json:
              schema:
                type: object
                properties:
                  added:
                    type: integer
                  alreadyMembers:
                    type: integer
  /workspaces/{workspaceId}/channels/{channelId}/members/{userId}:
    get:
      tags:
        - Channels
        - Members
      summary: Get channel member
      description: Get details of a channel member
      operationId: getChannelMember
      security:
        - BearerAuth: []
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: channelId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: userId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Channel member details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelMember'
        '404':
          description: Member not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      tags:
        - Channels
        - Members
      summary: Update channel member
      description: Update member role in channel (channel admin only)
      operationId: updateChannelMember
      security:
        - BearerAuth: []
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: channelId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: userId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                role:
                  type: string
                  enum:
                    - member
                    - admin
      responses:
        '200':
          description: Member updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelMember'
    delete:
      tags:
        - Channels
        - Members
      summary: Remove channel member
      description: Remove a member from the channel
      operationId: removeChannelMember
      security:
        - BearerAuth: []
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: channelId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: userId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Member removed
  /workspaces/{workspaceId}/channels/{channelId}/join:
    post:
      tags:
        - Channels
      summary: Join channel
      description: Join a public channel
      operationId: joinChannel
      security:
        - BearerAuth: []
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: channelId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Joined channel
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Channel'
        '403':
          description: Cannot join private channel
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /workspaces/{workspaceId}/channels/{channelId}/leave:
    post:
      tags:
        - Channels
      summary: Leave channel
      description: Leave a channel (cannot leave default channel)
      operationId: leaveChannel
      security:
        - BearerAuth: []
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: channelId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Left channel
        '400':
          description: Cannot leave default channel
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /workspaces/{workspaceId}/channels/{channelId}/archive:
    post:
      tags:
        - Channels
      summary: Archive channel
      description: Archive a channel (admin only)
      operationId: archiveChannel
      security:
        - BearerAuth: []
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: channelId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Channel archived
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Channel'
  /workspaces/{workspaceId}/channels/{channelId}/unarchive:
    post:
      tags:
        - Channels
      summary: Unarchive channel
      description: Unarchive a channel (admin only)
      operationId: unarchiveChannel
      security:
        - BearerAuth: []
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: channelId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Channel unarchived
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Channel'
  /workspaces/{workspaceId}/channels/{channelId}/notifications:
    get:
      tags:
        - Channels
      summary: Get channel notification settings
      description: Get notification settings for channel
      operationId: getChannelNotifications
      security:
        - BearerAuth: []
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: channelId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Channel notification settings
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelNotificationSettings'
    put:
      tags:
        - Channels
      summary: Update channel notification settings
      description: Update notification settings for channel
      operationId: updateChannelNotifications
      security:
        - BearerAuth: []
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: channelId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChannelNotificationSettings'
      responses:
        '200':
          description: Settings updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelNotificationSettings'
  /workspaces/{workspaceId}/dms:
    get:
      tags:
        - Channels
        - Direct Messages
      summary: List direct message channels
      description: Get all DM and group DM channels
      operationId: listDirectMessages
      security:
        - BearerAuth: []
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: List of DM channels
          content:
            application/json:
              schema:
                type: object
                properties:
                  channels:
                    type: array
                    items:
                      oneOf:
                        - $ref: '#/components/schemas/DirectMessage'
                        - $ref: '#/components/schemas/GroupDirectMessage'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
  /workspaces/{workspaceId}/dms/open:
    post:
      tags:
        - Channels
        - Direct Messages
      summary: Open DM channel
      description: Open or create a direct message channel with a user
      operationId: openDirectMessage
      security:
        - BearerAuth: []
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - userId
              properties:
                userId:
                  type: string
                  format: uuid
      responses:
        '200':
          description: DM channel opened
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DirectMessage'
  /workspaces/{workspaceId}/dms/group:
    post:
      tags:
        - Channels
        - Direct Messages
      summary: Create group DM
      description: Create a new group direct message channel
      operationId: createGroupDM
      security:
        - BearerAuth: []
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - userIds
              properties:
                userIds:
                  type: array
                  items:
                    type: string
                    format: uuid
                  minItems: 2
                  maxItems: 8
                name:
                  type: string
                  maxLength: 100
      responses:
        '201':
          description: Group DM created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupDirectMessage'
  /workspaces/{workspaceId}/channels/{channelId}/messages:
    get:
      tags:
        - Messages
      summary: List messages
      description: Get messages from a channel with pagination
      operationId: listMessages
      security:
        - BearerAuth: []
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: channelId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: before
          in: query
          schema:
            type: string
            format: date-time
          description: Get messages before this timestamp
        - name: after
          in: query
          schema:
            type: string
            format: date-time
          description: Get messages after this timestamp
        - name: around
          in: query
          schema:
            type: string
            format: uuid
          description: Get messages around this message ID
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
      responses:
        '200':
          description: List of messages
          content:
            application/json:
              schema:
                type: object
                properties:
                  messages:
                    type: array
                    items:
                      $ref: '#/components/schemas/Message'
                  hasMore:
                    type: boolean
    post:
      tags:
        - Messages
      summary: Send message
      description: Send a new message to a channel
      operationId: sendMessage
      security:
        - BearerAuth: []
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: channelId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MessageCreateRequest'
      responses:
        '201':
          description: Message sent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
        '400':
          description: Invalid message content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '403':
          description: Cannot post to this channel
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /workspaces/{workspaceId}/channels/{channelId}/messages/{messageId}:
    get:
      tags:
        - Messages
      summary: Get message
      description: Get a specific message by ID
      operationId: getMessage
      security:
        - BearerAuth: []
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: channelId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: messageId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Message details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
        '404':
          description: Message not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      tags:
        - Messages
      summary: Edit message
      description: Edit a message (author only, within edit window)
      operationId: editMessage
      security:
        - BearerAuth: []
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: channelId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: messageId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MessageUpdateRequest'
      responses:
        '200':
          description: Message updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
        '403':
          description: Not authorized to edit
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
        - Messages
      summary: Delete message
      description: Delete a message (author or admin)
      operationId: deleteMessage
      security:
        - BearerAuth: []
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: channelId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: messageId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Message deleted
        '403':
          description: Not authorized to delete
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /workspaces/{workspaceId}/channels/{channelId}/messages/{messageId}/reactions:
    get:
      tags:
        - Messages
        - Reactions
      summary: Get message reactions
      description: Get all reactions on a message
      operationId: getMessageReactions
      security:
        - BearerAuth: []
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: channelId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: messageId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Message reactions
          content:
            application/json:
              schema:
                type: object
                properties:
                  reactions:
                    type: array
                    items:
                      $ref: '#/components/schemas/Reaction'
    post:
      tags:
        - Messages
        - Reactions
      summary: Add reaction
      description: Add a reaction to a message
      operationId: addReaction
      security:
        - BearerAuth: []
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: channelId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: messageId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReactionRequest'
      responses:
        '201':
          description: Reaction added
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Reaction'
        '409':
          description: Already reacted with this emoji
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /workspaces/{workspaceId}/channels/{channelId}/messages/{messageId}/reactions/{emoji}:
    delete:
      tags:
        - Messages
        - Reactions
      summary: Remove reaction
      description: Remove a reaction from a message
      operationId: removeReaction
      security:
        - BearerAuth: []
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: channelId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: messageId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: emoji
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Reaction removed
        '404':
          description: Reaction not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /workspaces/{workspaceId}/channels/{channelId}/messages/{messageId}/pin:
    post:
      tags:
        - Messages
      summary: Pin message
      description: Pin a message to the channel
      operationId: pinMessage
      security:
        - BearerAuth: []
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: channelId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: messageId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Message pinned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
        '400':
          description: Message already pinned or pin limit reached
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /workspaces/{workspaceId}/channels/{channelId}/messages/{messageId}/unpin:
    delete:
      tags:
        - Messages
      summary: Unpin message
      description: Unpin a message from the channel
      operationId: unpinMessage
      security:
        - BearerAuth: []
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: channelId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: messageId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Message unpinned
  /workspaces/{workspaceId}/channels/{channelId}/pins:
    get:
      tags:
        - Messages
      summary: List pinned messages
      description: Get all pinned messages in a channel
      operationId: listPinnedMessages
      security:
        - BearerAuth: []
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: channelId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Pinned messages
          content:
            application/json:
              schema:
                type: object
                properties:
                  messages:
                    type: array
                    items:
                      $ref: '#/components/schemas/Message'
  /workspaces/{workspaceId}/channels/{channelId}/read:
    post:
      tags:
        - Messages
      summary: Mark channel as read
      description: Mark all messages in channel as read
      operationId: markChannelRead
      security:
        - BearerAuth: []
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: channelId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                messageId:
                  type: string
                  format: uuid
                  description: Mark as read up to this message
      responses:
        '200':
          description: Channel marked as read
          content:
            application/json:
              schema:
                type: object
                properties:
                  lastReadAt:
                    type: string
                    format: date-time
                  lastReadMessageId:
                    type: string
                    format: uuid
  /workspaces/{workspaceId}/scheduled-messages:
    get:
      tags:
        - Messages
      summary: List scheduled messages
      description: Get user's scheduled messages
      operationId: listScheduledMessages
      security:
        - BearerAuth: []
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: channelId
          in: query
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Scheduled messages
          content:
            application/json:
              schema:
                type: object
                properties:
                  messages:
                    type: array
                    items:
                      $ref: '#/components/schemas/ScheduledMessage'
    post:
      tags:
        - Messages
      summary: Schedule message
      description: Schedule a message for later delivery
      operationId: scheduleMessage
      security:
        - BearerAuth: []
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScheduleMessageRequest'
      responses:
        '201':
          description: Message scheduled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduledMessage'
  /workspaces/{workspaceId}/scheduled-messages/{messageId}:
    get:
      tags:
        - Messages
      summary: Get scheduled message
      description: Get a scheduled message by ID
      operationId: getScheduledMessage
      security:
        - BearerAuth: []
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: messageId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Scheduled message details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduledMessage'
    patch:
      tags:
        - Messages
      summary: Update scheduled message
      description: Update a scheduled message
      operationId: updateScheduledMessage
      security:
        - BearerAuth: []
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: messageId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScheduleMessageRequest'
      responses:
        '200':
          description: Scheduled message updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduledMessage'
    delete:
      tags:
        - Messages
      summary: Delete scheduled message
      description: Delete a scheduled message
      operationId: deleteScheduledMessage
      security:
        - BearerAuth: []
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: messageId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Scheduled message deleted
  /workspaces/{workspaceId}/threads:
    get:
      tags:
        - Threads
      summary: List threads
      description: Get threads the user is subscribed to or all threads in workspace
      operationId: listThreads
      security:
        - BearerAuth: []
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: channelId
          in: query
          schema:
            type: string
            format: uuid
          description: Filter by channel
        - name: subscribed
          in: query
          schema:
            type: boolean
          description: Only show subscribed threads
        - name: unread
          in: query
          schema:
            type: boolean
          description: Only show threads with unread replies
        - name: sort
          in: query
          schema:
            type: string
            enum:
              - recent_activity
              - created_at
            default: recent_activity
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: List of threads
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThreadListResponse'
  /workspaces/{workspaceId}/channels/{channelId}/threads/{threadId}:
    get:
      tags:
        - Threads
      summary: Get thread
      description: Get a thread with its parent message
      operationId: getThread
      security:
        - BearerAuth: []
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: channelId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: threadId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Thread details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Thread'
        '404':
          description: Thread not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      tags:
        - Threads
      summary: Update thread
      description: Update thread properties (e.g., mark as resolved)
      operationId: updateThread
      security:
        - BearerAuth: []
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: channelId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: threadId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateThreadRequest'
      responses:
        '200':
          description: Thread updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Thread'
  /workspaces/{workspaceId}/channels/{channelId}/threads/{threadId}/replies:
    get:
      tags:
        - Threads
      summary: List thread replies
      description: Get all replies in a thread
      operationId: listThreadReplies
      security:
        - BearerAuth: []
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: channelId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: threadId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: before
          in: query
          schema:
            type: string
            format: date-time
        - name: after
          in: query
          schema:
            type: string
            format: date-time
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
      responses:
        '200':
          description: Thread replies
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThreadRepliesResponse'
    post:
      tags:
        - Threads
      summary: Reply to thread
      description: Post a reply to a thread
      operationId: replyToThread
      security:
        - BearerAuth: []
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: channelId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: threadId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MessageCreateRequest'
      responses:
        '201':
          description: Reply posted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThreadReply'
  /workspaces/{workspaceId}/channels/{channelId}/threads/{threadId}/subscribe:
    post:
      tags:
        - Threads
      summary: Subscribe to thread
      description: Subscribe to receive notifications for thread replies
      operationId: subscribeToThread
      security:
        - BearerAuth: []
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: channelId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: threadId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubscribeThreadRequest'
      responses:
        '200':
          description: Subscribed to thread
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThreadSubscription'
  /workspaces/{workspaceId}/channels/{channelId}/threads/{threadId}/unsubscribe:
    delete:
      tags:
        - Threads
      summary: Unsubscribe from thread
      description: Unsubscribe from thread notifications
      operationId: unsubscribeFromThread
      security:
        - BearerAuth: []
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: channelId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: threadId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Unsubscribed from thread
  /workspaces/{workspaceId}/channels/{channelId}/threads/{threadId}/read:
    post:
      tags:
        - Threads
      summary: Mark thread as read
      description: Mark all replies in thread as read
      operationId: markThreadRead
      security:
        - BearerAuth: []
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: channelId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: threadId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Thread marked as read
[...]
